/.CompilerTest.java._trace
/.CompilerTest.xtendbin
/.ContentAssistTest.java._trace
/.ContentAssistTest.xtendbin
/.FormatterTest.java._trace
/.FormatterTest.xtendbin
/.OrganizeImportsTest.java._trace
/.OrganizeImportsTest.xtendbin
/.ParserTest.java._trace
/.ParserTest.xtendbin
/.ValidationTests.java._trace
/.ValidationTests.xtendbin
/.XbaseIntegrationTest.java._trace
/.XbaseIntegrationTest.xtendbin
/CompilerTest.java
/ContentAssistTest.java
/FormatterTest.java
/OrganizeImportsTest.java
/ParserTest.java
/ValidationTests.java
/XbaseIntegrationTest.java
